# Default ignored files
/../../../:10_cautruclap_for/.idea/shelf/
/../../../:10_cautruclap_for/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:10_cautruclap_for/.idea/httpRequests/
